<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.android.sunshine.weatherprovider"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Service that receives data change events -->
        <service android:name=".ForecastListenerService" >
            <intent-filter>
                <!-- listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/weather_update/temperature" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/weather_update/humidity" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/weather_update/summary" />
            </intent-filter>
        </service>

        <!-- Temperature Complications Provider Service -->
        <service
            android:name=".TemperatureProviderService"
            android:icon="@drawable/ic_cc_checkmark"
            android:label="@string/complications_temperature"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT"/>
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="600"/>
        </service>

        <!-- Humidity Complications Provider Service -->
        <service
            android:name=".HumidityProviderService"
            android:icon="@drawable/ic_cc_clear"
            android:label="@string/complications_humidity"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT"/>
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="600"/>
        </service>

        <!-- Summary Complications Provider Service -->
        <service
            android:name=".SummaryProviderService"
            android:icon="@drawable/ic_full_sad"
            android:label="@string/complications_summary"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE"/>
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="600"/>
        </service>
    </application>

</manifest>